{% extends 'legaltech_app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block contenido %}

<div class="col-sm-10 mb-5 mt-5">
    <div class="card" style="margin-left:20%;">
        <div class="card-header">
            <h3>Editar caso</h3>
        </div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                {{ form | crispy }} 
                <input class="btn btn-lg btn-success" type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>




{% endblock contenido %}